<!DOCTYPE html>
<html lang="ja">
   <head>
       <meta charset="utf-8">
       <title><%= title %></title>
   </head>
   <body>
       <h3><%= title %></h3>
       <p><%= description %></p>
       <ul style="list-style-type: lower-roman;">
            <% week.forEach(wk => { %>
                <li><%= wk %></li>
            <% }) %>
       </ul>
   </body>
</html>
